body {
  background-color: #38A3A5;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border-color: #80ED79;
  border-width: 5px;
}
h1{
color: #22577A;
}

h3
{
color: #22577A;
}

p
{
color: whitesmoke;
}

table
{
color: whitesmoke;
}

ul
{
color: whitesmoke;
}

ol
{
color: whitesmoke;
}
