body {
    background-color: #907fa4;
  }

  hr {
    border-color: #a58faa;
    border-width: 5px;
    border-style: dotted none none;
    width: 7%;
  
  }
  h1{
    color: #a6d6d6;
  }
  h3
  {
    color: #a6d6d6;
  }
  p
  {
    color: whitesmoke;
  }
  table
  {
    color: whitesmoke;
  }
  ul
  {
    color: whitesmoke;
  }
  ol
  {
    color: whitesmoke;
  }
